<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>SpringMVC</display-name>
  
  <!-- DB연동 외부환경설정을 불러온다.(WEB-INF에서만 환경설정X)
      src에서도 환경설정을 저장하고 불러올 수 있다. 형식) classpath:경로명 및 불러올 파일명
   -->
  <context-param>
         <param-name>contextConfigLocation</param-name>
         <param-value>classpath:config/applicationContext.xml</param-value>
  </context-param>
  
  <listener>
     <listener-class>
        org.springframework.web.context.ContextLoaderListener
     </listener-class>
  </listener>
  
  <!-- (1)웹상에서 요청(컨트롤러이름을 지정) -->
  <servlet>
     <servlet-name>dispatcher</servlet-name>
     <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  </servlet>
  
  <!--웹상에서 어떻게 요청을 할때 요청을 받아들일것인가에 대한 설정
      (요청명령어 등록) *.do  -->
  <servlet-mapping>
      <servlet-name>dispatcher</servlet-name>
      <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  
  <!-- 메인페이지 지정 -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
