<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

<!-- autowire(자동으로 찾아서 의존객체를 넣어주는기법을 사용)속성(DL 때문에)  -->
<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />

<!-- Setter Method를 통해서 넣어주는 방법 -->
<!--(0) byType을 사용하기전의 환경설정 
<bean name="systemMoniter" class="spring10.SystemMoniter">
   <property name="call">
       <ref bean="phoneCall" />
   </property>
</bean>
 -->
<!-- 
  (1) by Type을 이용하는 방법(멤버변수의 자료형과 똑같은 자료형의 객체를 찾아서 넣어달라)
        autowire속성=>찾아서 넣어주는 방법을 제시해주는 속성
        찾고자하는 자료형의 객체대상자가 한개이상이면 에러가 발생이 된다.(반드시 하나만 존재해야한다)
       =>@Autowired
 -->
<!-- <bean name="systemMoniter" class="spring10.SystemMoniter"
          autowire="byType">
</bean> -->

<!-- (2) byName을 이용하는 방법(이름으로 찾는 방법)
        멤버변수와 이름이 같은 빈즈의 객체를 찾아서 가져오는 방법
      =>@Resource와 같다.
 -->
<bean name="systemMoniter" class="spring10.SystemMoniter"
          autowire="byName">
</bean>

<bean name="phonecall" class="spring10.PhoneCall" />
<!-- <bean id="phoneCall2" class="spring10.PhoneCall" /> -->

<!-- 
    자바에서 객체를 생성X(추상클래스가 된다.)
   스프링컨테이너 ->해당 자기자신의 빈객체를 생성하지 마라 옵션=>abstract=true
  자식빈즈->parent="부모빈즈의 id부여"->상속이 되면서 오버라이딩까지 가능하다.
           class 자식클래스명 extends 부모클래스명
 -->
<bean id="commonMoniter" class="spring11.SystemMoniter" abstract="true" >
     <property name="periodTime" value="10" />
     <property name="sender" ref="smsSender" />
</bean>

<bean id="smsSender"  class="spring11.SmsSender" />

<!-- 1.부모의 멤버변수 그대로 사용(상속받으면 가능)-->
<bean id="doorMoniter" parent="commonMoniter" />

<!-- 2.상속을 받으면서 periodTime=30(오버라이딩) -->
<bean id="lobbyMoniter" parent="commonMoniter">
      <property name="periodTime" value="30" />
</bean>

<!-- 3.상속을 받으면서 periodTime=20(오버라이딩) -->
<bean id="roomMoniter" parent="commonMoniter">
      <property name="periodTime" value="20" />
</bean>

</beans>






