<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

<!-- spring4(p네임스페이스) setPeriodTime(int periodTime)
        p:속성명="값"  p:멤버변수-ref="상대방의 참조하는 구분자 id명"
 -->
<bean id="moniter" class="spring4.SystemMoniter"
          p:periodTime="30" p:sender-ref="smsSender">
  <!-- 
  <property name="periodTime">
     <value>20</value>
  </property>
  <property name="sender">
     <ref bean="smsSender" />
  </property> 
  -->
</bean>

<bean id="smsSender" class="spring4.SmsSender" />

<!--spring5(c-네임스페이스)  -->
<bean id="moniter2" class="spring5.SystemMoniter"
          c:periodTime="50" c:sender-ref="smsSender2">
  <!-- 
  <constructor-arg value="40" />
  <constructor-arg ref="smsSender2" /> 
  -->
</bean>

<bean id="smsSender2" class="spring5.SmsSender" />

<!-- spring6   spring6.SystemMoniter (id=>moniter3)
       setter method=>periodTime=70
       
         spring6.SmsSender (id=>smsSender3)
       constructor-arg->true값을 저장하는 구문 환경설정
 -->

<bean id="moniter3" class="spring6.SystemMoniter"
          p:periodTime="80">
    <property name="sender">
        <!-- <ref bean="smsSender3" /> -->
        <bean class="spring6.SmsSender">
             <constructor-arg value="true" />
        </bean>
    </property>
</bean>

<!-- 
<bean id="smsSender3" class="spring6.SmsSender">
   <constructor-arg value="true" />
</bean> 
-->

<!-- spring7 List<Double> number 
   id와 동일한 기능을 가진 속성명->name
   id->특정클래스의 객체를 가져오기위한 내부적인 구분번호,특수기호를 사용불가(/,# 특수기호사용X)
   name-> /,# 특수기호를 사용이 가능하다.
   현재는 구분하지 않고 사용을 한다.
   
   /list.do=action.ListAction
<bean name="/list.do" class="action.ListAction" />
-->
<bean name="performanceMoniter"  class="spring7.PerformanceMoniter">
    <property name="number">
        <list>
           <value>0.2</value>
           <value>0.3</value>
        </list>
    </property>
</bean>

<!-- spring8(Set인 경우 어떻게 설정?) -->
<bean name="customer" class="spring8.Customer">
  <property name="subSet">
    <set>
        <value>1</value>
        <value>1</value>
        <value>4</value>
    </set>
  </property>
</bean>

<!-- spring9(Map)
      map.put("soap",new SoapHandler());
      map.put("rest",new RestHandler());
           =><key><value>soap</value></key>=>키명
                 <ref bean="soapHandler" />  =>저장할 객체명
 -->
<bean name="protocolHanderFactory" class="spring9.ProtocolHanderFactory">
  <property name="map">
    <map>
       <entry>
            <key><value>soap</value></key>
            <ref bean="soapHandler" />
       </entry>
       <entry>
            <key><value>rest</value></key>
            <ref bean="restHandler" />
       </entry>
    </map>
  </property>
</bean>

<bean name="soapHandler"  class="spring9.SoapHandler" />
<bean name="restHandler"   class="spring9.RestHandler" />
</beans>





