<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.hwig.shop.MemberMapper">
 	<resultMap type="MemberVO" id="MemberResultMap">
 		<result property="mem_id" column="MEM_ID"/>
 		<result property="mem_pw" column="MEM_PW"/>
 		<result property="mem_tel" column="MEM_TEL"/>
 		<result property="mem_name" column="MEM_NAME"/>
 		<result property="mem_addr" column="MEM_ADDR"/>
 		<result property="mem_email" column="MEM_EMAIL"/>
 		<result property="mem_regdate" column="MEM_REGDATE"/>
 	</resultMap>
 	
 	
	<select id="login" parameterType="com.hwig.shop.MemberVO" resultType="com.hwig.shop.MemberVO">
		select * from hwig_mem where mem_id=#{mem_id,jdbcType=VARCHAR} and mem_pw=#{mem_pw,jdbcType=VARCHAR}
	</select>
	
	<select id="checkSession" parameterType="com.hwig.shop.MemberVO" resultType="com.hwig.shop.MemberVO">
		select * from hwig_mem where mem_id=#{mem_id,jdbcType=VARCHAR}
	</select>
	
	<select id="checkId" parameterType="com.hwig.shop.MemberVO" resultType="int">
		select count(*) from hwig_mem where mem_id=#{mem_id, jdbcType=VARCHAR}
	</select>
	
	<select id="checkEmail" parameterType="com.hwig.shop.MemberVO" resultType="int">
		select count(*) from hwig_mem where mem_email=#{mem_email, jdbcType=VARCHAR}
	</select>
	
    <insert id="insertMember" parameterType="com.hwig.shop.MemberVO">
        insert into hwig_mem values(#{mem_id, jdbcType=VARCHAR},#{mem_pw, jdbcType=VARCHAR},#{mem_tel, jdbcType=VARCHAR},#{mem_name, jdbcType=VARCHAR},#{mem_addr, jdbcType=VARCHAR},#{mem_email, jdbcType=VARCHAR},#{mem_regdate, jdbcType=DATE})
    </insert>
    
    <update id="updateMember" parameterType="com.hwig.shop.MemberVO">
    	update hwig_mem set mem_pw=#{mem_pw, jdbcType=VARCHAR}, mem_tel=#{mem_tel, jdbcType=VARCHAR}, mem_name=#{mem_name, jdbcType=VARCHAR}, mem_addr=#{mem_addr, jdbcType=VARCHAR}, mem_email=#{mem_email, jdbcType=VARCHAR} where mem_id=#{mem_id, jdbcType=VARCHAR}
    </update>
    
    <delete id="deleteMember" parameterType="com.hwig.shop.MemberVO">
        delete hwig_mem where(mem_id=#{mem_id, jdbcType=VARCHAR})
    </delete>
 </mapper>
